*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  width:100vw;
  height:100vh;
  overflow: hidden;
  background: black;
}

.spotify_sidebar{
  width: 15%;
  height:90%;
  float:left;
}

.spotify_main_container{
  width:85%;
  height:90%;
  background:#212529;
  float:left;
  overflow-y: scroll;
}


/* sidebar */

.spotify_sidebar_container{
  width:100%;
  height:100%;
  background: black;
}

.spotify_sidebar_content_top{
  width:100%;
  height:80%;
}

.spotify_sidebar_content_top img{
  width:130px;
  margin: 30px auto;
}

.spotify_sidebar_content_top a{
  display: block;
  padding-bottom:20px;
  padding-left:30px;
  font-weight: bold;
  font-size: 15px;
  color: #696a67;
}

.spotify_sidebar_content_top a:hover, .spotify_sidebar_content_top i:hover{
  color:white;
  text-decoration:none;
}



.spotify_sidebar_content_top h5{
  text-transform: uppercase;
  font-weight: bold;
  padding-left:30px;
  padding-bottom:10px;
}

.spotify_sidebar_content_top h5, .spotify_sidebar_content_top h6{
  color: #696a67;
}

.spotify_sidebar_content_top h6{
  padding-left: 30px;
}

.spotify_sidebar_content_top h6:nth-of-type(2){
  text-transform: uppercase;
  padding-bottom:10px;
}

.spotify_sidebar_content_top h6:nth-last-of-type(1){
  text-transform: uppercase;
}

.spotify_sidebar_content_top i{
  padding-right: 10px;
  color: #696a67;
}

.green i, .green a{
  color:#1db954;
}
.spotify_sidebar_content_bottom{
  width:100%;
  height:15%;
}

.spotify_sidebar_content_bottom a{
  display: block;
  font-weight: bold;
  font-size: 13px;
  color: #696a67;
  justify-content: center;
  padding-left:30px;
  padding-bottom: 5px;
  padding-top:10px;
}

.spotify_sidebar_content_bottom i{
  padding-right: 10px;
}

.spotify_sidebar_content_bottom a:hover,.spotify_sidebar_content_bottom i:hover{
  color:white;
  text-decoration: none;
}


.spotify_sidebar_content_bottom a:nth-last-of-type(1){
  color:white;
}

.hr_line{
  width:80%;
  height:1px;
  background:white;
  margin:0 auto;
  opacity: 0.4;
}


/* main navbar*/

.spotify_main_navbar{
  width:100%;
  height:15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify_main_navbar a {
  padding-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #696a67;
}

.spotify_main_navbar a:hover{
  text-decoration: none;
  color:white;
}

.green_line{
  width:30px;
  height:3px;
  background:#1db954;
  display: block;
  margin: 0 auto;
}


/* hamburger */
.hamburger_navbar{
  display:none;
}

/* main content */

.img_main_container_top{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.img_main_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

.spotify_main_content h2{
  color:white;
  padding-left: 20px;
  font-weight: bold;
}
.img_main_content img{
  width:200px;
  cursor: pointer;
}

.img_main_content img:hover{
  opacity:0.2;
}

.img_main_container_top{
  padding-top:20px;
  padding-left:30px;
  padding-bottom: 20px;
}

.img_main_content h6{
  text-align: center;
  color:white;
}

.img_main_content p{
  text-align: center;
  font-size:12px;
  color: #696a67;
}

/* MUSIC PLAYER */

.spotify_music_bar{
  width:100%;
  height:10%;
  background:#343a40;
  float:left
}

.img_player img{
  width: 5%;
  height: 5%;
  padding-top: 4px;
  padding-left: 5px;
  margin-left: 15px;
  flex-direction: row;
}






/* media queries 992-1100px */

@media screen and (min-width:768px) and (max-width:1024px){


  .spotify_sidebar_content_top a {
    font-size:11px;

  }
  .spotify_sidebar_content_bottom a{
    font-size: 10px;

  }

  .spotify_sidebar_content_top img{
    width:80px;
  }

  .img_main_content img{
    width:150px;

  }

  .img_main_content{
    padding-right:15px;
  }

}

/* media queries 768px*/
@media screen and (max-width:768px){

  .spotify_sidebar{
    display:none;
    float:none;
  }

  .spotify_main_container{
    width:100%;
  }

  .spotify_music_bar {
    width: 100%;
  }

  .img_main_container_top{
    flex-wrap: wrap;
  }
}

/* media queries 650px */

@media screen and (max-width:650px){
  .spotify_main_navbar{
    display:none;
  }
  .hamburger_navbar{
    display: block;
  }
  .hamburger_navbar img{
    max-width:150px;
    padding:30px;
    display:inline-block;
  }

  .hamburger_navbar i{
    color:white;
    font-size: 40px;
    display: inline-block;
    float:right;
    padding: 30px;
    color:#696a67;
  }

  .spotify_main_container{
    width:100%;
  }

  .spotify_music_bar {
    width: 100%;
  }

  .img_main_container_top{
    flex-wrap: wrap;
  }

}
